{% extends 'base.html.twig' %}

{% block title %}Nowy klient{% endblock %}
{% block main %}{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        {% form_theme formClient 'bootstrap_5_layout.html.twig' %}
        {{ form_start(formClient) }}
        <input class="btn btn-lg btn-primary" value="Stwórz" type="submit">
        {{ form_end(formClient) }}
    </div>
{% endblock %}